{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">
        {% if validlink %}
            <h2 class="text-2xl font-semibold mb-6">Set a new password</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" autocomplete="username" class="sr-only" />

                <div class="relative">
                    <input type="password" name="password" id="passwordInput" placeholder="New Password" required class="w-full mb-4 p-3 border rounded" autocomplete="new-password">
                    <button type="button" onclick="togglePassword()" class="absolute right-4 top-3 text-gray-500 focus:outline-none">
                        <i id="toggleIcon" class="fa-regular fa-eye text-xl"></i>
                    </button>
                </div>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required class="w-full mb-6 p-3 border rounded" autocomplete="new-password">
                <button type="submit" class="w-full bg-indigo-600 text-white py-3 rounded hover:bg-indigo-700">Reset Password</button>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="m-4 text-{{ message.tags }}-600 text-green-500">{{ message }}</div>
                    <p class="text-gray-500 text-center mt-6"><a href="{% url 'login_view' %}" class="text-indigo-600 hover:underline">Back to login</a></p>
                {% endfor %}
            {% endif %}
        {% else %}
            <h2 class="text-xl text-red-500">The reset link is invalid or has expired.</h2>
        {% endif %}
    </div>
</div>
{% endblock %}